{:lint-as {defc clojure.core/defn
           defstyle clojure.core/def
           su.core/defc clojure.core/defn
           su.core/defstyle clojure.core/def}
 :linters {:namespace-name-mismatch {:level :off}
           :unresolved-namespace {:exclude [su.core]}
           :unresolved-symbol {:exclude [(defc) (defstyle)]}
           :clojure-lsp/unused-public-var
           {:exclude-when-defined-by [defc su.core/defc]}}}
